<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/gopherSpy.css" media="all">
	<link rel="stylesheet" type="text/css" href="/static/css/960.css" media="all">
	<title>Gopher Watcher: All subjects</title>
</head>
<body>
	<div class="container_12">
		<div class="grid_12">Gopher Watcher: All subjects: Page {{ pageNum }}</div>
		{% for subjTriple in subjTriples %}
			<div class="clear"></div>
			{% if subjTriple[0] is defined %}
			<div class="grid_4">
				<object data="/static/svg/{{ subjTriple[0] }}.svg" type="image/svg+xml"></object>
			</div>
			{% endif %}
			{% if subjTriple[0] is defined %}
			<div class="grid_4">
				<object data="/static/svg/{{ subjTriple[1] }}.svg" type="image/svg+xml"></object>
			</div>
			{% endif %}
			{% if subjTriple[0] is defined %}
			<div class="grid_4">
				<object data="/static/svg/{{ subjTriple[2] }}.svg" type="image/svg+xml"></object>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</body>
</html>